.btn {
    align-items: center;
    background-color: rgb(213, 29, 29);
    border-radius: 4px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    font-family: Untitled Sans;
    justify-content: center;
    line-height: 26px;
    padding: 7px 20px;
    margin-top: 4px;
  }